<section class="contact" id="contacto">
<h1 class="heading"><span>Contacto</span></h1>
<form class="form-container">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="First name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Motivo</label>
        <input type="text" class="form-control" placeholder="Motivo" aria-label="First name">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Deje su Mensaje"></textarea>
    </div>
<button type="submit" class="btn">ENVIAR</button> 
</form>
</section>
