@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300&family=IBM+Plex+Sans+Condensed&family=Sofia+Sans+Extra+Condensed:wght@100;300&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Bai Jamjuree', sans-serif;
}

body{
    background: #000;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 200px 200px 200px;
    background-color: black;
    color:#DDC1BE;

}

/*NAVBAR*/

.btn:hover{
    background-color: #DDC1BE;
    background-color: aqua;
    color: #000;
}

/*MODAL*/

.fa-solid{
    color: #DDC1BE;
}

.modal-title{
    color: #DDC1BE;
}
.form-label{
    color: #DDC1BE;
}

.col-form-label{
    color: #DDC1BE;
}


/*BANNER*/
.description-container{
    display: flex;
    flex-direction: row;
    flex: 1 1 50%;
    gap: 40px;
}

.inicio-img{
    height: 200px;
    background-position: center;

}

.header{
    width: 100%;
    min-height: 100vh;
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.header::before{
    content:"";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;

}

.bg-dark{
    position: fixed;
    z-index: 20;
    width: 100%;
}

.btn-btn{
    background-color: #DDC1BE;
}

@media(min-width760px){
    .bg-dark {
        background-color: transparent!important;
    }
}


.description-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 200px 200px 400px 400px;

}

.text-container{
    width: 200%;
    gap: 20%;
}

.text-container img{
    width: 30%;
}

.text-container h1{
    font-size: 4em;
    margin-bottom: 20px;
    color: black;
}

.text-container h3{
    font-size: 2.5em;
    width: 150%;
    margin-bottom: 20px;
    color: black;
}

.text-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 400px 200px 500px;
    color: black;
    font-family: "coco";
}