<!--Redes-->
<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="https://www.linkedin.com/in/lourdes-ortiz-429194213/"><button class="btn"><i class="fa-brands fa-linkedin fa-2x1" type="button"></i></button></a></li>
    <li class="list-group-item"><a href="https://github.com/Lourdes12587"><button class="btn"><i class="fa-brands fa-github fa-2x1"></i></button></a></li>
    <li class="list-group-item">
      <i class="fa-solid fa-user-lock fa-2x" type="button" data-bs-toggle="modal" data-bs-target="#logininModal"></i>
    </li>
</ul>
