<section class="portfolio" id="portfolio">
<h1 class="heading"><span> Mi </span> Porfolio </h1>
<div class="box-container">
    <div class="box">
        <img src="./imagenes/cool-round-shaped-futuristic-sci-fi-techno-lights.jpg">
    </div>
      
    <div class="box">
        <img src="">
    </div>
      
    <div class="box">
        <img src="">
    </div>
      
    <div class="box">
        <img src="">
    </div>
      
    <div class="box">
        <img src="">
    </div>
      
    <div class="box">
        <img src="">
    </div>
</div>
</section>   