
<section class="about" id="about">
  <h1 class="heading"><span> Experiencia </span> Laboral </h1>
  <div class="box-container">
    <div class="box">
      <i class="fa-solid fa-graduation-cap"></i>
      <span>2018</span>
          <h3>Tecnica Superior en Contabilidad<h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio corrupti ea placeat est alias officiis
              nostrum fuga accusamus! Sequi vitae, ex assumenda ullam quibusdam reprehenderit quam eveniet eligendi
              minus fugiat?
            </p>

