<!--SOBRE MI-->
    <div id="menu" class="fas fa-bars"></div>
    
    <img src="./assets/Imagenes/foto.jpeg" class="rounded-circle w-25" alt="Mi foto" title="...">
    <section class="sobremi" id="sobremi"> 
    <h1 class="heading"><span> Sobre </span> Mi </h1>
    <div class="container-sobremi" id="sobremi">
      <h4>Mi nombre es Maria de Lourdes Ortiz Ubeda, Argentina. Actualmente vivo en España y soy una apasionada por el desarrollo web. Si no estoy capacitandome con un nuevo curso online. Me podes encontrar viajando.</h4>
      <a src="#">Curriculo Vitae><button class="btn"><i class="fa-sharp fa-solid fa-arrow-down-to-line"></i></button></a>
    </div>


